# =====================================================
# NODE
# =====================================================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# =====================================================
# VARIABLES DE ENTORNO / SECRETOS
# =====================================================

.env
.env.*
!.env.example


# =====================================================
# ANGULAR / BUILD
# =====================================================

dist/
.angular/
.cache/


# =====================================================
# PRISMA
# =====================================================

generated/prisma/


# =====================================================
# EDITORES
# =====================================================

.vscode/
.vscode-shared/
.codeium/
.idea/


# =====================================================
# SISTEMA OPERATIVO
# =====================================================

.DS_Store
Thumbs.db


# =====================================================
# ARCHIVOS DE PRUEBAS / DATOS LOCALES
# =====================================================

datos_andes.csv
importar_reales.js
reporte_andes.pdf
reporte_andes.xlsx