<div class="sidebar">

    <ul>

        <li>
            <a
                routerLink="/dashboard"
                routerLinkActive="activo"
                [routerLinkActiveOptions]="{ exact: true }">
                📊 Dashboard
            </a>
        </li>

        <li>
            <a
                routerLink="/proyectos"
                routerLinkActive="activo">
                📁 Proyectos
            </a>
        </li>
<li>
    <a
        routerLink="/mapas"
        routerLinkActive="activo">
        🗺️ Mapas
    </a>
</li>
        <li>
            <a
                routerLink="/clientes"
                routerLinkActive="activo">
                👥 Clientes
            </a>
        </li>

        <li>
            <a
                routerLink="/publicaciones"
                routerLinkActive="activo">
                📰 Publicaciones
            </a>
        </li>

        <li>
            <a
                routerLink="/levantamientos"
                routerLinkActive="activo">
                📍 Levantamientos
            </a>
        </li>

        <li>
            <a
                routerLink="/equipos"
                routerLinkActive="activo">
                📡 Equipos
            </a>
        </li>

        <li>
            <a
                routerLink="/reportes"
                routerLinkActive="activo">
                📄 Reportes
            </a>
        </li>

        <li>
            <a
                routerLink="/configuracion"
                routerLinkActive="activo">
                ⚙ Configuración
            </a>
        </li>

    </ul>

</div>
